@model WebsiteThoiTrang.Models.Entities.LOAISP

@{
    ViewBag.Title = "ChinhSuaMau";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>CHỈNH SỬA</h2>
<hr />
@using (Html.BeginForm())
{
    if (TempData["thongbao"] != null)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <strong>@TempData["thongbao"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Mã loại", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-5"  style="margin-top: 8px;">
                <span>@Model.MaLoai</span>
                @*@Html.TextBoxFor(model => model.MaMau, new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.MaLoai, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.TenLoai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Parent ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("ParentID", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Trở về", "DanhSachMauSac", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

