@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanGiaySneaker.Models.Entities.CHITIETAO>

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>CHI TIẾT</h2>
<hr />
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().AO.TenAo)
            </th>
            <th>
                @Html.Label("Số lượng")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MAUSAC.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SIZEAO.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AO.TenAo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAUSAC.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SIZEAO.Size)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Trở về", "HienThiAo", new { @masp = @TempData["Masp"] }, new { @class = "btn btn-danger" })
<br />
@if (@Model.PageCount > 1)
{
    @:Trang @(Model.PageCount< Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div>
        @Html.PagedListPager(Model, page => Url.Action("ChiTiet", new { @masp = @TempData["Masp"], page = page }))
    </div>
}
@*<script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>*@